body {
  background-color: lightgray;
}

.hud {
  background-color: lightgray;
  min-height: 100px;
}

.controls  {
  text-align: center;
  font-size: 1.4em;
  margin-top: 30px;
}

.fa-play {
  margin-right: 10px;
  margin-left: 10px;
}

.now-playing {
  margin-top: 15px;
  height: 70px;
}

.searchbar {
  margin-top: 30px;
}

audio {
  width: 100%;
  height: 50px;
}
